﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="contacts.aspx.cs" Inherits="contacts" MasterPageFile="~/main.master" %>

<asp:Content ID="Content" ContentPlaceHolderID="contacts" runat="Server">
    <div class="container" style="text-align: center;">
        <h2>Progetto sviluppato da: 
        </h2> </br>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <img src="img/bmp.png" alt="BMP logo" class="img-responsive">
            </div>
            <div class="col-lg-3"></div>
        </div>
        <h3></br> <b>B</b>arbieri Edoardo
			</br> <b>M</b>ondani Lorenzo
			</br> <b>P</b>ancisi Emanuele
        </h3>

        </br></br></br>Recapiti:</br>edoardo.barbieri4@studio.unibo.it
			</br>lorenzo.mondani@studio.unibo.it
			</br>emanuele.pancisi@studio.unibo.it
			
			</br></br></br>Versione 1.0
    </div>
</asp:Content>
